body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color:whitesmoke;
}

h1 {
  color: black;
}

#restartBtn {
  padding: 10px 20px;
  margin-bottom: 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 12px;
  justify-content: center;
  height: 80vh;
}
.card {
  width: 120px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card.flipped .card-inner {
  transform: rotateY(180deg);
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  backface-visibility: hidden;
}
.card-img{
  width: 100%;
  height: 100%;
}

.card-back {
  background-color:red;
}

.card-front {
  background-color: #fff;
  transform: rotateY(180deg);
}

.card.matched .card-inner {
  transform: rotateY(180deg);
  cursor: default;
}

@media (max-width: 600px) {
  #gameBoard {
    grid-template-columns: repeat(3, 100px);
  }
  .card {
    width: 70px;
    height: 70px;
  }
  .card-front{
    width:70px;
    height:70px;
  }
}
